body
{
	font-family: sans-serif;
	background-color: lightgrey;
}

input
{
	height: 2em;
	border: none;
}

.wordbox
{
	display: inline-block;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}

.include
{
	background: #b0fffb;
}

.exclude
{
	background: #ffc4ec;
}

.wordboxtext
{
}

.hidedot
{
	display: none;
	color: black;
	cursor: pointer;
}

.includedot
{
	display: none;
	color: #b0fffb;
	cursor: pointer;
}

.excludedot
{
	display: none;
	color: #ffc4ec;
	cursor: pointer;
}

.wordbox:hover .hidedot, .wordbox:hover  .includedot, .wordbox:hover .excludedot
{
	display: inline;
}

.lds-dual-ring {
	display: inline-block;
	width: 2em;
	height: 2em;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 66%;
	height: 66%;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
